<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PicFresh | About Us</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="styles.css" rel="stylesheet" />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light border-bottom border-black border-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="index"><img src="picappslogo.jpg" height="35" class="rounded"></a>
        <a class="nav-item nav-link text-secondary pe-4" aria-current="page" href="index">Home</a>
        <a class="nav-item nav-link text-secondary pe-4" href="download">Download</a>
        <a class="nav-item nav-link active me-auto mb-lg-0 disabled" href="about_us">About Us</a>
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="user.png" height="30">
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="login">Login</a></li>
            <li><a class="dropdown-item" href="register">Register</a></li>
        </ul>
    </div>
</nav>
<section class="bg-light gx-5 py-5">
    <div class="text-center">
        <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">Our Teams</span></h2>
    </div>
    <div class="container-fluid pt-5 text-center">
        <a href="https://www.linkedin.com/in/brian-wijaya-22b46a272/">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="https://media.licdn.com/dms/image/D4E03AQHaFaol-Y8_TA/profile-displayphoto-shrink_800_800/0/1681560643226?e=1707350400&v=beta&t=n6S1K1GVhNHWd0ywfSI3AELya8MUAnrBZc5tiMsQD1k" alt="">
        </a>
        <h2 class="py-3">Brian Wijaya</h2>
        <p>Information technology Student</p>
        <p>at Tarumanegara University</p>
        <p>brian.535200069@stu.untar.ac.id</p>
    </div>
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-xxl-8">
                <div class="text-center my-5">
                    <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">About PicFresh</span></h2>
                    <p class="lead fw-light mb-4">PicFresh is free open souce Apps for user daily usage.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container px-5 py-4">
        <div class="row align-items-center justify-content-between gap-2">
            <div><img src="picappslogo.jpg" height="35" class="rounded"></div>
            <div class="mx-3"><a>PT. Permata Hijau</a></div>
            <div class="mx-3"><a>Jl. Batik Cendrawasi No.50, Kali Utara,</a></div>
            <div class="mx-3"><a>Kec. Cibeunying Semar, Kota Semarang</a></div>
            <div class="mx-3"><a>Jawa Tengah 40558</a></div>
            <div><img src="dummy_map.PNG" height="200" class="border border-3 rounded border-dark"></div>
        </div>
    </div>
</section>
<footer class="bg-white py-4 mt-auto">
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto"><div class="small m-0">Copyright &copy; PicFresh 2023</div></div>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="scripts.js"></script>
</body>
</html>