<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PicFresh</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="styles.css" rel="stylesheet" />
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <nav class="navbar navbar-expand-lg navbar-light border-bottom border-black border-4">
        <div class="container-fluid">
            <a class="navbar-brand" href="index"><img src="picappslogo.jpg" height="35" class="rounded"></a>
            <a class="nav-item nav-link active disabled pe-4" aria-current="page" href="index">Home</a>
            <a class="nav-item nav-link text-secondary pe-4" href="download">Download</a>
            <a class="nav-item nav-link me-auto mb-lg-0 text-secondary" href="about_us">About Us</a>
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="user.png" height="30">
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="login">Login</a></li>
                <li><a class="dropdown-item" href="register">Register</a></li>
            </ul>
        </div>
    </nav>
    <header class="bg-gradient-primary-to-secondary py-5">
        <div class="container px-5">
            <div class="row gx-5 align-items-center justify-content-center">
                <div class="col-lg-8 col-xl-7 col-xxl-6">
                    <div class="my-5 text-center text-xl-start">
                        <h1 class="display-5 fw-bolder text-white mb-2">A Bootstrap 5 template for modern businesses</h1>
                        <p class="lead fw-normal text-white-50 mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit!</p>
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                            <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Get Started</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="Feature_Graphic.PNG" alt="..." /></div>
            </div>
        </div>
    </header>
    <section class="py-5" id="features">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">A better way to start building.</h2></div>
                <div class="col-lg-8">
                    <div class="row gx-5 row-cols-1 row-cols-md-2">
                        <div class="col mb-5 h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-card-checklist"></i></div>
                            <h2 class="h5">Easy to use</h2>
                            <p class="mb-0">Fully guided to increase user experience.</p>
                        </div>
                        <div class="col mb-5 h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-camera2"></i></div>
                            <h2 class="h5">Snap to Detect</h2>
                            <p class="mb-0">Using AI and camera to snap a photos to get vegetable freshness.</p>
                        </div>
                        <div class="col mb-5 mb-md-0 h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-egg-fried"></i></div>
                            <h2 class="h5">Enormous Food Recipe Collection</h2>
                            <p class="mb-0">With more than 5000+ food Recipe collection give you freedom while cooking.</p>
                        </div>
                        <div class="col h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-star"></i></div>
                            <h2 class="h5">Make your own recipe book</h2>
                            <p class="mb-0">Every recipe you like can be save in your own collection.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="py-5 bg-light">
        <div class="container px-5 my-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-10 col-xl-7">
                    <div class="text-center">
                        <div class="fs-4 mb-4 fst-italic">"The Snap feature PicFresh gave is really helping me to pick which veggies are fresh while shopping in the market. The choice using something mobility like mobile phone as a platform, make the feature much more appealing."</div>
                        <div class="d-flex align-items-center justify-content-center">
                            <img class="rounded-circle me-3" src="https://media.licdn.com/dms/image/D4E03AQHaFaol-Y8_TA/profile-displayphoto-shrink_800_800/0/1681560643226?e=1707350400&v=beta&t=n6S1K1GVhNHWd0ywfSI3AELya8MUAnrBZc5tiMsQD1k" height="45" alt="..." />
                            <div class="fw-bold">
                                Brian Wijaya
                                <span class="fw-bold text-primary mx-1">/</span>
                                PicFresh Developer
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="bg-white py-4 mt-auto">
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto"><div class="small m-0">Copyright &copy; PicFresh 2023</div></div>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>