<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PicFresh | Register</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="styles.css" rel="stylesheet" />
</head>
<body class="bg-gradient-primary-to-secondary">
<div class="container-fluid p-5">
    <div class="ms-5">
        <a href="index"><img src="picappslogo.jpg" height="60" class="rounded"></a>
    </div>
</div>
<div class="text-center position-absolute top-50 start-50 translate-middle">
    <p class="fs-1 pb-3 text-white">Registration Form</p>
    <div class="row rounded-3 bg-light">
        <div class="col">
            <img src="https://media.istockphoto.com/id/1367227025/vector/seamless-construction-icon-background-editable-stroke.jpg?s=612x612&w=0&k=20&c=qITMPhHyq7F9EKyIRfoqwSKNtwCum5H5QYygSPgHNuw=" class="h-100" width="600" alt="">
        </div>
        <div class="form-signin col pt-5">
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Username</label>
                    <input type="text" class="form-control" id="exampleInputUser" aria-describedby="emailHelp" placeholder="username">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="example@stu.untar.ac.id">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="alphanumeric 8-12">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Re-type Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="alphanumeric 8-12">
                </div>
                <div class="form-check pb-3 text-start px-5">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">By clicking Register, you are agree on our <a href="#">Privacy Policy for PicFresh</a> </label>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
            <p class="pt-3">Have an Account ? <a href="login" class="col">Log In</a></p>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="scripts.js"></script>
</body>
</html>